*{
	margin: 0;
	padding: 0;
	font-family: 'Bungee', cursive;
}


body{
	height: 100vh;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.canvas-overlay{
	position: absolute;
	user-select: none;
}

.canvas-overlay .score{
	position: absolute;
	top:  -14rem;
	left: 50%;
	transform: translate(-50%, 0);
	color: #47d342;
	text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	font-size: 3rem;
}


.canvas-overlay .helper-text{
	opacity: 0;
	font-size: 1.2rem;
	color: #d4bf28;
	text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
}

.canvas-overlay .helper-text.show{
	opacity: 1;
}